<noscript> 
  <style>
    body {
      -ms-overflow-style: scrollbar;
      overflow-y: scroll;
      overscroll-behavior-y: none;
    }

    .errorContainer {
      background-color: #FFF;
      color: #0F1419;
      max-width: 600px;
      margin: 0 auto;
      padding: 10%;
      font-family: Helvetica, sans-serif;
      font-size: 16px;
    }

    .errorButton {
      margin: 3em 0;
    }

    .errorButton a {
      background: #1DA1F2;
      border-radius: 2.5em;
      color: white;
      padding: 1em 2em;
      text-decoration: none;
    }

    .errorButton a:hover,
    .errorButton a:focus {
      background: rgb(26, 145, 218);
    }

    .errorFooter {
      color: #657786;
      font-size: 80%;
      line-height: 1.5;
      padding: 1em 0;
    }

    .errorFooter a,
    .errorFooter a:visited {
      color: #657786;
      text-decoration: none;
      padding-right: 1em;
    }

    .errorFooter a:hover,
    .errorFooter a:active {
      text-decoration: underline;
    }

      #placeholder,
      #react-root {
        display: none !important;
      }
      body {
        background-color: #FFF !important;
      }
    </style> 
  <div class="errorContainer"> 
   <img width="46" height="38" srcset="https://abs.twimg.com/errors/logo46x38.png 1x, https://abs.twimg.com/errors/logo46x38@2x.png 2x" src="https://abs.twimg.com/errors/logo46x38.png" alt="Twitter"> 
   <h1>JavaScript is not available.</h1> 
   <p>We’ve detected that JavaScript is disabled in this browser. Please enable JavaScript or switch to a supported browser to continue using twitter.com. You can see a list of supported browsers in our Help Center.</p> 
   <p class="errorButton"><a href="https://help.twitter.com/using-twitter/twitter-supported-browsers">Help Center</a></p> 
   <p class="errorFooter"> <a href="https://twitter.com/tos">Terms of Service</a> <a href="https://twitter.com/privacy">Privacy Policy</a> <a href="https://support.twitter.com/articles/20170514">Cookie Policy</a> <a href="https://legal.twitter.com/imprint.html">Imprint</a> <a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html?ref=web-twc-ao-gbl-adsinfo&amp;utm_source=twc&amp;utm_medium=web&amp;utm_campaign=ao&amp;utm_content=adsinfo">Ads info</a> © 2022 Twitter, Inc. </p> 
  </div> 
 </noscript>
<h1>Docker Kubernetes Minikube on OSX</h1>




<p>&nbsp;</p>

CORDA<br />
Check installed Java versions on mac<br />
/usr/libexec/java_home -V<br />

To change the default java version <br />
export JAVA_HOME=`/usr/libexec/java_home -v 1.8`<br />
----<br />
nano ~/.bash_profile<br />

export JAVA_HOME=$(/usr/libexec/java_home -v 1.8.0)<br />
source ~/.bash_profile<br />


ls -l /usr/libexec/java_home -> /System/Library/Frameworks/JavaVM.framework/Versions/Current/Commands/java_home<br />
rm -l <br />

ln -sf /Library/Java/JavaVirtualMachines/amazon-corretto-8.jdk/Contents/Home /usr/libexec/java_home<br />
------<br />

gradle build -Dorg.gradle.java.home=/JDK_PATH<br />
export JAVA_HOME=/Library/Java/JavaVirtualMachines/amazon-corretto-8.jdk/Contents/Home<br />


docker pull hyperledger/fabric-ccenv:1.4.0<br />
docker tag hyperledger/fabric-ccenv:1.4.0 hyperledger/fabric-ccenv:latest<br />




docker run -it image_name sh <br />
Or following for images with an entrypoint<br />

docker run -it --entrypoint sh image_name<br />
Or if you want to see how the image was build, meaning the steps in its Dockerfile, you can:<br />

docker image history --no-trunc image_name > image_history<br />


<p>docker-machine create --driver virtualbox default<br />
docker-machine env default<br />
eval $(docker-machine env default)<br />
docker-machine start<br />
docker images</p>



<p><br />
docker-machine start<br />
eval $(docker-machine env default)<br />
docker network create knote<br />
docker build -t knote-java-04:v1 .<br />
docker save &nbsp;knote-java-04:v1 &gt; knote-java-04-v1.tar<br />
docker run &nbsp; --name=mongo &nbsp; --rm &nbsp; --network=knote mongo:4.4.6<br />
or&nbsp;<br />
docker run &nbsp; --name=mongo &nbsp; --rm &nbsp; --network=knote mvertes/alpine-mongo:4.0.6-1</p>

<p>docker run &nbsp; --name=knote-java &nbsp; --rm &nbsp; --network=knote &nbsp; -p 8080:8080 &nbsp; -e MONGO_URL=mongodb://mongo:27017/dev &nbsp; knote-java-04:v1</p>

<p><br />
How to get a Docker container&#39;s IP address from the host<br />
docker inspect -f &#39;{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}&#39; default<br />
docker-machine ip</p>

<p>docker stop containerids</p>

<p><br />
Stop all the containers<br />

docker stop $(docker ps -a -q)<br />
Remove all the containers<br />

docker rm $(docker ps -a -q)<br />
</p><br />


<p>docker-machine stop</p>

<p>----------<br />
The default login is, username: &ldquo;docker&ldquo;, password: &ldquo;tcuser&ldquo;.&nbsp;<br />
minikube start<br />
minikube image ls<br />
minikube image load openjdk.tar&nbsp;<br />
minikube image ls<br />
minikube image load mongo446.tar&nbsp;<br />
minikube image load knote-java-03.tar&nbsp;<br />
minikube stop<br />
minikube ssh</p>

# To point your shell to minikube's docker-daemon, run:<br />
# eval $(minikube -p minikube docker-env)<br />

<p>-------</p>

<p><br />
$ minikube docker-env<br />
export DOCKER_TLS_VERIFY=&quot;1&quot;<br />
export DOCKER_HOST=&quot;tcp://192.168.99.102:2376&quot;<br />
export DOCKER_CERT_PATH=&quot;/Users/schowdhury/.minikube/certs&quot;<br />
export DOCKER_API_VERSION=&quot;1.35&quot;<br />
# Run this command to configure your shell:<br />
# eval $(minikube docker-env)</p>

<p><br />
-----documentation of commands<br />
kubectl explain service.spec.type<br />
kubectl explain deployment.spec.replicas</p>

<p>------</p>

<p>Then submit your resource definitions to Kubernetes with the following command:<br />
kubectl apply -f kube</p>

<p>You can watch your Pods coming alive with:<br />
kubectl get pods --watch</p>

<p><br />
-------<br />
In Minikube, a Service can be accessed with the following command:</p>

<p>minikube service knote --url</p>

<p>--------</p>

<p>Kubernetes makes it very easy to increase the number of replicas to 2 or more:<br />
kubectl scale --replicas=2 deployment/knote</p>

<p>You can watch how a new Pod is created with:<br />
kubectl get pods -l app=knote --watch</p>

<p><br />
--------</p>

<p>Kubernetes GUI<br />
minikube dashboard</p>

<p>------<br />
Delete deployment of my-app<br />
kubectl delete deploy my-app<br />
kubectl delete service my-app</p>

<p>----------</p>

<p>Reset everything<br />
minikube stop;<br />
minikube delete;<br />
rm -rf ~/.minikube ~/.kube;<br />
brew uninstall kubectl;<br />
brew cask uninstall docker virtualbox minikube;</p>

<p>--------</p>

<p>Set docker to point to minikube<br />
eval $(minikube docker-env)</p>

<p>Push to minikube docker<br />
docker build -t hello-node:v1 .</p>

<p>Set your deployment to not pull IfNotPresent<br />
K8S default is set to &quot;Always&quot; Change to &quot;IfNotPresent&quot;</p>

<p>imagePullPolicy: IfNotPresent</p>

<p><br />
-------------</p>

<p>to start minikube with outside of minikube docker registry&nbsp;</p>

<p>minikube start --vm-driver=&quot;virtualbox&quot; --insecure-registry=&quot;$REG_IP&quot;:80<br />
instead of just</p>

<p>minikube start<br />
$REG_IP is :</p>

<p>REG_IP=docker-machine ip registry</p>

<p>--------</p>

<p>As per the kubernetes documentation here: https://kubernetes.io/docs/concepts/containers/images/#imagepullpolicy-defaulting</p>

<p>If you use the latest tag for deployment then it will try to pull image. I was able to deploy service with v1 tag after following steps on WSL-2</p>

<p>eval $(minikube -p minikube docker-env)<br />
minikube start<br />
docker build --tag=my-service:v1 .<br />
kubectl create deployment my-service --image=my-service:v1<br />
kubectl expose pod &quot;my-service&quot; --type=NodePort --port=8080<br />
minikube service my-serivce</p>

<p>-----------</p>

<p>&nbsp; 467 &nbsp;docker info&nbsp;<br />
&nbsp; 468 &nbsp;docker container ps<br />
&nbsp; 469 &nbsp;docker container<br />
&nbsp; 462 &nbsp;docker container ls<br />
&nbsp; 470 &nbsp;docker container stop<br />
&nbsp; 471 &nbsp;docker container kill all<br />
&nbsp; 472 &nbsp;docker container kill<br />
&nbsp; &nbsp;448 &nbsp;docker info 93f118f4ed9c<br />
&nbsp; 452 &nbsp;docker build -t knote-java .<br />
&nbsp; &nbsp; 444 &nbsp;docker run hello-world<br />
&nbsp; &nbsp; &nbsp; 421 &nbsp;docker rm mongo knote-java<br />
&nbsp; 466 &nbsp;docker run &nbsp; --name=mongo &nbsp; --rm &nbsp; --network=knote mongo:4.4.6<br />
&nbsp; 362 &nbsp;docker inspect -f &#39;{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}&#39; default</p>

<p>&nbsp; ------------</p>

<p>&nbsp; &nbsp; 425 &nbsp;minikube start --kubernetes-version v1.15.12 &nbsp; &nbsp;<br />
&nbsp; 426 &nbsp;minikube start --kubernetes-version v1.16.0<br />
&nbsp; 427 &nbsp;minikube start --cpus=1<br />
&nbsp; 428 &nbsp;minikube start --driver=virtualbox<br />
&nbsp; 429 &nbsp;vboxmanage showvminfo minikube | grep &quot;Memory size\|Number of CPUs&quot;<br />
&nbsp; 430 &nbsp;minikube stop<br />
&nbsp; 431 &nbsp;minikube profile list<br />
&nbsp; 432 &nbsp;minikube config set cpus 1<br />
&nbsp; 433 &nbsp;minikube start<br />
&nbsp; 434 &nbsp;minikube config set cpus 2<br />
&nbsp; 435 &nbsp;minikube start<br />
&nbsp; 490 &nbsp;minikube stop</p>




      
------------------
ETHERIUM

GETH

   12  cd localgeth/
   21  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth
   22  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth" account new
   24  geth
   26  mv ~/Downloads/geth-* .
   28  mv geth-* ../
   32  unzip geth-alltools-darwin-amd64-1.10.17-25c9b49f.tar.gz 
   33  gunzip geth-darwin-amd64-1.10.17-25c9b49f.tar.gz 
   35  tar xvf geth-darwin-amd64-1.10.17-25c9b49f.tar 
   36  gunzip geth-alltools-darwin-amd64-1.10.17-25c9b49f.tar.gz 
   37  tar xvf geth-alltools-darwin-amd64-1.10.17-25c9b49f.tar 
   39  cd geth-alltools
   44  geth
   68  geth attach http://127.0.0.1:8745
   69  geth attach http://127.0.0.1:8745
   70  geth attach http://127.0.0.1:8745
   71  geth attach http://127.0.0.1:8000
   72  geth attach http://127.0.0.1:8000
   73  geth attach http://127.0.0.1:8545
   74  geth attach http://127.0.0.1:8545
   75  geth attach http://127.0.0.1:8545
   76  geth attach http://127.0.0.1:8545
   77  geth attach http://127.0.0.1:8645
   78  geth attach http://127.0.0.1:8645
   79  geth attach http://127.0.0.1:8645
   84  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" init /Users/priya/vkdev/web3/etherium/localgeth/node02/genesis.json
   85  geth --identity "node02" --http --http.port "8545" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
   86  geth --identity "node02" --http --http.port "8645" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
   87  geth --identity "node02" --http --http.port "8645" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" --port "30403" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 2900 --nat "any"
   88  geth --identity "node02" --http --http.port "8645" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 2900 --nat "any"
   89  geth --identity "node02" --http --http.port "8645" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" --port "30403" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
   90  geth --identity "node02" --allow-insecure-unlock --http --http.port "8645" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" --port "30403" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 2900 --nat "any"
   91  geth --identity "node02" --allow-insecure-unlock --http --http.port "8645" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node02" --port "30403" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 2900 --nat "any"
   97  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init "/Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json" 
   98  vi /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json 
   99  vi /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json 
  100  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init "/Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json" 
  101  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init "/Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json" 
  102  vi /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json 
  103  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init "/Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json" 
  104  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  105  vi /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  106  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  107  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  108  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  109  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  110  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  111  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" init /Users/priya/vkdev/web3/etherium/localgeth/node01/genesis.json
  112  $ geth --identity "node01" --rpc --rpcport "8000" --rpccorsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --rpcapi "db,eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  113  geth
  114  $ geth --identity "node01" --rpc --rpcport "8000" --rpccorsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --rpcapi "db,eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  115  geth --identity "node01" --rpc --rpcport "8000" --rpccorsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --rpcapi "db,eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  116  geth --identity "node01" --rpc --rpcport "8000" --rpccorsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --rpcapi "db,eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  117  geth --identity "node01" --rpcport "8000" --rpccorsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --rpcapi "db,eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  118  geth --identity "node01" --http --http.port "8545" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --http.api "db,eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  119  geth --identity "node01" --http --http.port "8545" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  120  geth --identity "node01" --http --http.port "8545" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  121  geth --identity "node01" --allow-insecure-unlock --http --http.port "8545" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  122  geth --identity "node01" --allow-insecure-unlock --http --http.port "8545" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  123  geth --identity "node01" --allow-insecure-unlock --http --http.port "8545" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node01" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  124  geth --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node03" init /Users/priya/vkdev/web3/etherium/localgeth/node03/genesis.json
  125  geth --identity "node03" --http --http.port "8745" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node03" --port "30303" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  126  geth --identity "node03" --http --http.port "8745" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node03" --port "30503" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 3900 --nat "any"
  127  geth --identity "node03" --http --http.port "8745" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node03" --port "30503" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 1900 --nat "any"
  128  geth --identity "node03" --allow-insecure-unlock --http --http.port "8745" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node03" --port "30503" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 3900 --nat "any"
  129  geth --identity "node03" --allow-insecure-unlock --http --http.port "8745" --http.corsdomain "*" --datadir "/Users/priya/vkdev/web3/etherium/localgeth/node03" --port "30503" --nodiscover --http.api "eth,net,web3,personal,miner,admin" --networkid 3900 --nat "any"
  130  geth attach http://127.0.0.1:8545


QUORUM

docker-compose down
export COMPOSE_PARALLEL_LIMIT=1000
docker network prune
docker-compose up -d
I raised COMPOSE_PARALLEL_LIMIT to 10 but then started getting timeouts, 
so then raised COMPOSE_HTTP_TIMEOUT from 60 to 300.


docker kill $(docker ps -q)
docker rm $(docker ps -a -q)
docker network prune  //removes unused networks





-----------

<p>EXPORT AND IMPORT Images<br />
If you want to export all images at once, create one big tar file:</p>

<p>docker save $(docker images -q) -o /path/to/save/mydockersimages.tar<br />
If you want to save multiples images in one .tar file:</p>

<p>IDS=$(docker images | awk &#39;{if ($1 ~ /^(debian|centos)/) print $3}&#39;)<br />
docker save $IDS -o /path/to/save/somedockersimages.tar<br />
Finally, if you want to export multiple many images, with one .tar file per images (not disk efficient: common layer are saved in each .tar file):</p>

<p>docker images | awk &#39;{if ($1 ~ /^(openshift|centos)/) print $1 &quot; &quot; $2 &quot; &quot; $3 }&#39; | tr -c &quot;a-z A-Z0-9_.\n-&quot; &quot;%&quot; | while read REPOSITORY TAG IMAGE_ID<br />
do<br />
&nbsp; echo &quot;== Saving $REPOSITORY $TAG $IMAGE_ID ==&quot;<br />
&nbsp; docker &nbsp;save &nbsp; -o /path/to/save/$REPOSITORY-$TAG-$IMAGE_ID.tar $IMAGE_ID<br />
done<br />
You may also want to save the list of images so that the restored images can be tagged:</p>

<p>docker images | sed &#39;1d&#39; | awk &#39;{print $1 &quot; &quot; $2 &quot; &quot; $3}&#39; &gt; mydockersimages.list<br />
On the remote machine, you can load (import) the images:</p>

<p>docker load -i /path/to/save/mydockersimages.tar<br />
and tag the imported images:</p>

<p>while read REPOSITORY TAG IMAGE_ID<br />
do<br />
&nbsp; &nbsp; &nbsp; &nbsp; echo &quot;== Tagging $REPOSITORY $TAG $IMAGE_ID ==&quot;<br />
&nbsp; &nbsp; &nbsp; &nbsp; docker tag &quot;$IMAGE_ID&quot; &quot;$REPOSITORY:$TAG&quot;<br />
done &lt; mydockersimages.list</p>

<p>&nbsp;</p>


(base) Iyers-MBP:gradle-sample-app priya$ IDS=$(docker images | awk '{if ($1 ~ /^(gradle|golang|mvertes|fabric8|amazoncorretto)/) print $3}')
docker save $IDS -o ~/vkdev/devops/dockerimagestarball/gradlegomongofabric8amazoncorreto.tar

docker images | sed '1d' | awk '{print $1 " " $2 " " $3}' > mydockersimages.list
while read REPOSITORY TAG IMAGE_ID
do
        echo "== Tagging $REPOSITORY $TAG $IMAGE_ID =="
        docker tag "$IMAGE_ID" "$REPOSITORY:$TAG"
done < mydockersimages.list
